.navbar{
    position: relative;
    height: 13vh;;
    width: 100vw;
    background-color:#5C5C5C;
    display: flex;
    gap: 2vw;
    justify-content: space-between;
    align-items: center;
    padding: 0 6vw;
    z-index: 3;
}
.navbar .logo{
    width: 16vw;
    height: 15vh;
    padding-bottom: 4vh;
    
}
.link ul{
    display: flex;
    gap: 2vw;
}
.link ul li{
    color: white;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.1vw;
}
.link ul li:hover{
 color: orangered;
 transition: 1s ease-out;
 cursor: pointer;
}